
.Board{
    margin:1cm;
    width:455px;
    height:455px;
    border: 4px solid white;
    
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    position:center;
    margin-top: 2%;
    margin-right: auto;
    margin-left:auto;
    background-image: /* tint image */
    linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),
    /* checkered effect */
    linear-gradient(to right, rgb(145, 20, 194) 50%, white 50%),
    linear-gradient(to bottom, rgb(145, 20, 194) 50%, white 50%);
background-blend-mode: normal, difference, normal;
background-size: 4em 4em;
}

